.parent {
    padding: 30px;
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to a new row */
    gap: 30px;
    justify-content: center;
    
  
    .example-card {
      flex: 1 1 calc(33.33% - 30px); /* Ensures 3 cards per row with spacing accounted */
      max-width: 400px; /* Optional max-width */
      box-sizing: border-box; /* Ensures padding/margins don't affect width */

      @media (max-width: 768px) {
        max-width: 375px;
        flex: 1 1 100%;

        img{
          width: 100%;
        }
      }
  
      mat-card-title {
        color: white;
      }
      mat-card-content {
        color: white;
      }
      mat-card-header {
        justify-content: space-between;
        align-items: center;
        padding: 10px;
      }
    }
  
    .example-header-image {
      background-size: cover;
    }
  }

  
  